.scroll_progress {
    background-color: var(--progress-bg);
    width: 350px;
    height: 3px;
}
/* .scroll_progress .progressbar {
    background-color: white;
    width: 10px;
} */
.cards {
    scroll-behavior: smooth;
}
.cards:hover {
    scroll-behavior: unset;
}
.active_card {
    background-color:var(--primary-color);
}
.card {
    min-width: 350px;
    max-width: 350px;
    height: 400px;
    background-color: black;
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);
}
.card .card_footer {
    color:  var(--primary-color);
}
.video {
    cursor: pointer;
}
.video_poster {
    width: 600px;
    height: 300px;
    user-select: none;
}
