.demo_title {
    background-color: var(--primary-color);
    letter-spacing: 0.1px;
    word-spacing: 0.1px;
    background-image: url('/images/site_pattern.png');
    background-position: left top;
    background-size: 1000px;
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    display: inline-block;
    filter: drop-shadow(5px 0 10px rgba(0, 0, 0, 0.8));
}
.divider_section .line {
    background-color: var(--primary-color); 
    height: .3px;
}
.divider_section .title {
    color: var(--primary-color); 
}